@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>Contact Number: 090 8765 4321</p>
<p>Address: 100 Croft Street, Downwell City</p>
<p>Email: NewCityDen@gmail.com</p>
<p>My advice: drink a lot of soft drinks and eat very sweet food, so can bring us good business!</p>
<p>Check this out: this is a branch of the master file</p>