@{
    ViewData["Title"] = "Booking Success";
}
<h1>@ViewData["Title"]</h1>

<h2>
    Take care! Our dentists will contact you and discuss your appointment within 3 work days!
</h2>

<p>You can contact us if you required emergency treatments!</p>
<p>Contact Number: 090 8765 4321</p>
<p>Address: 100 Croft Street, Downwell City</p>
<p>Email: NewCityDen@gmail.com</p>

